@charset "utf-8";
/* CSS Document */
header {
    background-color: hsl(262, 100%, 82%); /* Color de fondo del rectángulo */
    border: 2px solid #ffffff; /* Bordes del rectángulo */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
}
img {width: 300px;
    height: 200px;

}
h2 {
    background-color: #6d7eff; /* Color de fondo */
    border: 2px solid #ffffff; /* Bordes */
    border-radius: 15px; /* Bordes redondeados */
    padding: 8px; /* Espaciado interno */
}
  
