@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: "Pachang" ;
    src: url(fonts/Panchang-Variable.ttf) format(truetype);
}


header {
 font-family: "Pachang", sans-serif;
    font-size: x-large;
    font-weight: 200;
    background-color: #c2a3ff;
    border-right: 5px transparent;
    border-top: 20px transparent;
    border-left: 20px transparent;
    border-bottom: 20px transparent;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.izquierda {
    display: flex;
    align-items: center;
}

.navegashion{
    font-family: "Pachang", sans-serif;
    font-size:medium;
    font-weight: 200;
    color: #5d00ff;
    padding: 0px,20px,0px,0px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-grow: 0;
}

.navegashion a{
    color: #5d00ff;
}

.navegashion a:visited{
    color: #5d00ff;
    }

.navegashion a:active{
    color: #5d00ff;
}

h1 {
    max-width: 400px;
    margin-left: 50px;
    flex-grow: 1;

}
      
.imagen-circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 50px;
}

body {
    background-image: url('img/fondo.png');
    background-size: auto; 
    background-repeat: repeat;
    background-position: center; 
}

.descripcion {
    font-style: italic;
}

section {
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-right: 270px;
    background-color: #5d00ff;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style-type: none
}   

ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.destacado{
    font-weight: bolder;
    font-size: larger;
    border: 10px solid #5d00ff;
    border-radius: 15px;
    padding: 20px;
    background-color: #d2bdf7;
    color: #5d00ff;
    display: flex;
    border: 10px,500px,10px,10px
}

h2 {
    font-family: "Pachang", sans-serif;
    font-size:x-large;
    font-weight: 300;
    background-color: #d2bdf7;
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 8px;
    width: 250px;
    display: flex;
    justify-content: center;
    color: #5d00ff;
    margin-left: 50px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    }

.principal {
    width: 70%;
}

.asides {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

aside {
    background-color: #d2bdf7;
    padding: 20px;
    border-left: 2px solid #ccc;
    margin-bottom: 20px;
    border: 5px solid #5d00ff; 
    border-radius: 20px;
}

aside.mascotas {
font-family:"Pachang", sans-serif;
font-size: large;
margin-top: 20px;
}

aside h2 {
    font-family: "Pachang", sans-serif;
    font-size:x-large;
    font-weight: 300;
    background-color: #5d00ff;
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 8px;
    width: 250px;
    display: flex;
    justify-content: center;
    color: #d2bdf7;
    margin-left: 50px;
}

.mascotas ul li {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding-bottom: 15px;
}

aside.hobbies {
    background-color: #ffffff; 
    border-radius: 20px;
}

.empleo {
color: black;
background-color: #d2bdf7;
border: 10px solid #5d00ff;
border-radius: 20px;
padding: 10px;
width: 600px;
margin: 10px;
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style: oblique;
    font-weight: bold;
}
  
section a:link {
    color: #d2bdf7;
}

section a:visited {
    color: aquamarine;
}

section a:active {
    color: antiquewhite;
}

footer {
    background-color: #d1bbf7;
    color: black;
    font-family: "Pachang", sans-serif;
    font-size: small;
    display: flex;
    justify-content: center;
}
